<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datafile, "Upload localfile:" %>
    <%= f.file_field :datafile %>
    <%= f.hidden_field :datafile_cache %>

  <div class="field">
    <%= f.label :id_field %>
    <%= f.text_field :id_field %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
